<p>employee works!</p>
<form #iduser="ngForm" (ngSubmit)="getById(iduser)">
 <input type="number" name="userid" ngModel>
 <button type="submit" >get</button>

</form>
<form  #myform="ngForm"  method="post"  class="container col-md-4" (ngSubmit)="insertFormData(myform.value)">
<div class="form-group">
<label>Eid:</label><input type="number" class="form-control"  name="id"  #eidcontrol="ngModel"   required  ngModel>
<span  style="color: red;"  *ngIf="eidcontrol.touched && eidcontrol.invalid">Eid is Mandatory</span>
</div>

<div class="form-group">
<label>EName:</label><input type="text" class="form-control"  #enamecontrol="ngModel" name="ename"  required ngModel>
<span  style="color: red;"  *ngIf="enamecontrol.touched && enamecontrol.invalid">Emp Name is Mandatory</span>
</div>


<div class="form-group">
<label>Salary:</label><input type="number"  class="form-control" #salcontrol="ngModel" name="salary"  required ngModel>
<span  style="color: red;"  *ngIf="salcontrol.touched && salcontrol.invalid">Salary is Mandatory</span>
</div>



<button type="submit"  class="btn btn-primary" [disabled]="myform.invalid" >Submit</button>


</form>



<button  type="button"  (click)="getAllEmployees()" >Display All Employeess</button>


<table class="table table-dark col-sm-5">

   <tr><th>SNO.</th><th>EID</th><th>ENAME</th><th>SALARY</th></tr> 
<tr *ngFor="let emp of empList; index as i"><td>{{i+1}}</td> <td>{{emp.id}}</td><td>{{emp.ename}}</td><td>{{emp.salary}}</td>   </tr>

</table>

   
   
   
   






