
<div class="login-container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <h1 class="text-center mb-4">Login</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" ngModel class="form-control" required #username="ngModel">
        <span class="text-danger" *ngIf="username.touched && username.invalid">Username is mandatory</span>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" ngModel class="form-control" required #password="ngModel">
        <span class="text-danger" *ngIf="password.touched && password.invalid">Password is mandatory</span>
      </div>
  
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>