<p>addemployee works!</p>


<form  #myform="ngForm"  method="post"  class="container col-md-4" (ngSubmit)="insertAdmin(myform.value)">
    <!-- <div class="form-group">
    <label>Eid:</label><input type="number" class="form-control"  name="id"  #eidcontrol="ngModel"   required  ngModel>
    <span  style="color: red;"  *ngIf="eidcontrol.touched && eidcontrol.invalid">Eid is Mandatory</span>
    </div> -->
    
    <div class="form-group">
    <label>AdminName:</label><input type="text" class="form-control"  #adminnamecontrol="ngModel" name="adminName"  required ngModel>
    <span  style="color: red;"  *ngIf="adminnamecontrol.touched && adminnamecontrol.invalid">Admin Name is Mandatory</span>
    </div>
    
    
    <div class="form-group">
    <label>Admin Password:</label><input type="text"  class="form-control" #passcontrol="ngModel" name="adminPassword"  required ngModel>
    <span  style="color: red;"  *ngIf="passcontrol.touched && passcontrol.invalid">Password is Mandatory</span>
    </div>
    
    <!-- <div class="form-group">
        <label>Role:</label><input type="text"  class="form-control" #rolecontrol="ngModel" name="role"  required ngModel>
        <span  style="color: red;"  *ngIf="rolecontrol.touched && rolecontrol.invalid">role is Mandatory</span>
        </div>
         -->
    
    
    <button type="submit"  class="btn btn-primary" [disabled]="myform.invalid" >Submit</button>
    
    
    </form>
    
