
    <div class="side-menu">
        <div class="brand-name">
            <h1>Admin DashBoard</h1>
        </div>
        <ul>
            <li><span routerLink="flight">Add Flight</span> </li>
            <li><span routerLink="user"> View Users</span> </li>
            <li><span routerLink="flightowner"> View FlightOwner</span> </li>
            <li><span routerLink="editadmin"> Edit Admin</span> </li>
        </ul>
    </div>
  
    <div class="router">
      <router-outlet></router-outlet>
    </div>